body {
  margin: 26px;
  font-size: 18px;
}
div.nav {
  float: left;
  width: 288px;
  border-right: 2px solid #ccc;
  margin-right: 18px;
  min-height: 100%;
}
div.content {
  padding-left: 292px;
}
h1.title {
  text-align: center;
}
form input {
  font-size: 43pt;
}
form {
  font-size: 33pt;
  border: 2px solid #c77;
  border-radius: 9px;
  padding: 9px;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}
div.result {
  text-align: center;
  font-size: 389px;
}
code {
  padding: 3px;
  margin: 3px;
  background-color: #eee;
  margin-right: auto;
  margin-left: auto;
}
div.code {
  padding: 8px;
  margin: 3px;
  background-color: #eee;
}
/* some list styles */
li.variables {
  line-height: 39px;
}

span.die-roll {
  font-size: 33px;
  border-radius: 8px;
  background-color: #cecece;
  padding: 12px;
}

